[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #379C9C;
    --md-accent-fg-color:        #379C9C;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #379C9C;
    --md-accent-fg-color:        #FFFFFF;
}
